.navbar-brand {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    background-color: rgb(170, 170, 170);
    border-style: double;
    border-color: rgb(48, 46, 46);
    padding-left: 2px;
    padding-right: 2px;
    padding: 2px;
    margin: 5px;
    font-size: 15px;
    color: rgb(0, 0, 0);
}
